section {
    background: url('../images/ayshfb.jpg') !important;
}

.section {
    background-color: rgba(167, 22, 22, 0.5);
    margin: 20px;
}

.svgpic {
    width: 80px;
    padding: 10px;
    margin: 0 auto;
}

.bg-blue {
    background-color: aliceblue;
}

.bg-grey {
    background-color: rgb(231, 231, 231);
}

.badge {
    font-style: normal;
    font-size: x-large;
}

.list-group-item2 {
    position: relative;
    width: 100%;
    display: block;
    padding: .5rem 1rem;
    color: #1a1a1a;
    text-decoration: none;
    border-bottom: 1px solid rgba(248, 225, 91, 0.5)
}

.nostyle {
    text-decoration: none;
}